section,
article {
	background-color: $color-white;
	opacity: 1;

	transition: background-color 0.25s, opacity 0.25s;

	&.fast {
		transition: background-color 0.125s, opacity 0.125s;
	}
}

.hide {
	opacity: 0;
}

.hidden {
	display: none;
}

.highlight {
	&.active {
		background-color: $color-background-active;
	}
	&.delete {
		background-color: $color-background-delete;
	}
	&.duplicate {
		background-color: $color-background-duplicate;
	}
	&.edit {
		background-color: $color-background-edit;
	}
}
