@font-face {
	font-family: 'Space Mono';
	src: url('../fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: 'Space Mono';
	src: url('../fonts/Space_Mono/SpaceMono-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Space Mono';
	src: url('../fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
	font-weight: 700;
}
@font-face {
	font-family: 'Space Mono';
	src: url('../fonts/Space_Mono/SpaceMono-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@import url('../fonts/remixicon/remixicon.css');

body {
	font-family: 'Space Mono', monospace;
	color: $color-font-black;
}

a {
	color: $color-primary;
	transition: color 0.25s linear;
	text-decoration: none;
	&:hover {
		color: scale-color($color-primary, $lightness: 10%);
		text-decoration: underline;
	}

	&.control {
		&:hover {
			text-decoration: none;
		}
	}
}

.archived a {
	color: scale-color($color-black, $alpha: -25%);
	transition: color 0.25s linear;
	text-decoration: none;
	&:hover {
		color: $color-black;
		text-decoration: underline;
	}

	&.control {
		&:hover {
			text-decoration: none;
		}
	}
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin-bottom: 1rem;
}
p {
	margin-bottom: 1rem;
}

h1,
.h1 {
	font-size: 3rem;
}
h2,
.h2 {
	font-size: 2rem;
}
h3,
.h3 {
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
}
h4,
.h4 {
	font-size: 1rem;
	text-transform: uppercase;
}
h5,
.h5 {
	font-size: 0.75rem;
	font-weight: 700;
}
h6,
.h6 {
	font-size: 0.75rem;
}

.header {
	i {
		cursor: pointer;
		&.control {
			font-size: 2rem;
		}
	}
}

.message-container {
	color: scale-color($color-white, $alpha: -10%);
}

.list-container {
	&.archived {
		.list-item,
		.list-header {
			color: $color-primary;
		}
	}

	header {
		color: $color-white;
	}
	.list-header {
		font-weight: 700;
		text-transform: uppercase;
	}

	.list-item {
		.time-controls,
		.item-controls,
		.reinstate {
			i {
				cursor: pointer;
				color: $color-accent;

				transition: color 0.125s linear;

				&:hover {
					color: scale-color($color-accent, $lightness: -15%);
				}
			}
		}
	}
}

.list-controls {
	i {
		cursor: pointer;
		&.control {
			font-size: 2rem;
		}
	}
}
.quick-add-remove-time {
	ul {
		li {
			&.title {
				font-weight: 700;
				text-transform: uppercase;
			}
			&.quickModifyTime {
			}
		}
	}
}
